body {
  font-family: Arial;
  font-size: 26px;
  background-image: url("https://pbs.twimg.com/media/E7P7EhRXEAMnGn3.png");
}

p {
  text-align: justify;
  width: 600px;
  border: 6px solid rebeccapurple;
  background-color: #4e3150;
  /* espaçamento eh o padding */
  padding: 20px 60px;
  color: #b6dec1;
  text-align: center;
}
.container{
    width: 100%;
    height: 100%;
}
